# ==============
# Build Folders
# ==============
out/
artifacts/
cache/
coverage/
typechain/
typechain-types/

# ==============
# Dependencies
# ==============
lib/
node_modules/

# ==============
# Env & Secrets
# ==============
.env
.env.*
.env.local

# ==============
# Flattened Contracts
# ==============
*.flat.sol

# ==============
# System / IDE Files
# ==============
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
