name: Foundry CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Foundry tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive' # <-- THIS IS THE MAIN FIX

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      
      - name: Build dependencies
        run: forge build 

      - name: Run tests
        run: forge test